{% extends 'base.html' %}
{% block content %}
   <lable>Title: </lable>
    <a href="/books/{{book.id}}">{{book.title}}</a><br/>
    <lable>Year: </lable>
    <lable>{{book.year}}</lable><br/>
    <lable>Description: </lable>
    <lable>{{book.description}}</lable><br/>
    <lable>Category: </lable>
    <a href="/categories/{{book.category.id}}">{{book.category.title}}</a><br/>
    <lable>Authors: </lable>
    <ul>
        {% for author in book.authors.all %}
            <li>
                <a href="/books/">{{author.name}}</a>
            </li>
        {% endfor %}
    </ul>
    {% for comment in comments %}
            <lable>Comment {{comment.id}}:</lable>
            <p>{{comment.text}}</p>
    {% endfor %}
{% endblock %}