{% extends 'base.html' %}
{% block content %}
   <lable>Title: </lable>
    <a href="/books/{{book.id}}">{{book.title}}</a><br/>
    <lable>Year: </lable>
    <lable>{{book.year}}</lable><br/>
    <lable>Description: </lable>
    <label>{{book.description}}<label/><br/>
    <label>Category: <label/>
    <a href="/categories/{{book.category.id}}">{{book.category.title}}</a><br/>
    <label>Authors: <label/>
    <ul>
        {% for author in book.authors.all %}
            <li>
                <a href="/books/">{{author.name}}</a>
            </li>
        {% endfor %}
    </ul>
    {% for comment in comments %}
            <label>Comment {{comment.id}}:</label>
            <p>{{comment.text}}</p>
    {% endfor %}
{% endblock %}